.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 320px;
}

.scrollable {
    flex: 1 1 auto;
    border-top: 1px solid #eee;
    margin: 0 0 0.5em 0;
    overflow-y: auto;
}

article {
    margin: 0.5em 0;
}

.user {
    text-align: right;
}

span {
    padding: 0.5em 1em;
    display: inline-block;
}

.eliza span {
    background-color: #eee;
    border-radius: 1em 1em 1em 0;
}

.user span {
    background-color: #0074D9;
    color: white;
    border-radius: 1em 1em 0 1em;
    word-break: break-all;
}