canvas {
    width: 100%;
    height: 100%;
    background-color: #666;
    -webkit-mask: url(https://svelte.dev/svelte-logo-mask.svg) 50% 50% no-repeat;
    mask: url(https://svelte.dev/svelte-logo-mask.svg) 50% 50% no-repeat;
}